/* base 16 colors */
$purple: #cc99cc;
$green: #99cc99;
$red: #f2777a;
$yellow: #ffcc66;
$cyan: #66cccc;
$blue: #6699cc;
$orange: #f99157;
$black: #2d2d2d;
$grey: #a09f93;
$light-grey: #e8e6df;
$dark-grey: #515151;